<h3 class="post_comment">Post a Comment</h3>

<%= form_for [ @article, @comment ] do |f| %>

    <%= f.label :author_name, "Your Name"  %>
    <%= f.text_field :author_name, class: "author_name" %>

    <%= f.label :body, "Your Comment" %>
    <%= f.text_area :body, class: "body" %>

    <%= f.submit "+", class: "btn-floating btn-small waves-effect waves-light red submit"%>

<% end %>